.club > h2 > span {
  color: #fff;
  padding: 0.25rem;
  border-radius: 6px;
}

.btn-container,
.club > h2 {
  text-align: center;
  margin-top: 5rem;
}

.btn.btn-container {
  border-radius: 6px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-container li a {
  padding: 0.4rem;
  border-radius: 6px;
}
